(
    begin_state: AssetTest, // LoadArena, LoadBattleMap, AssetTest,
    map_move_speed: 0.6,
    map_move_wait: 0.03,
    map_file: "ldtk/scenes/map.ldtk",
    arena_file: "ldtk/scenes/arena.ldtk",
    asset_test_file: "ldtk/scenes/asset_test.ldtk",
    player_units: [
        "ldtk/prefabs/units_wizard.ldtk",
        "ldtk/prefabs/units_archer.ldtk",
    ],
    enemy_units: [
        "ldtk/prefabs/units_slime.ldtk",
        "ldtk/prefabs/units_snake.ldtk",
    ],
)